.TaskRow {
    border: 1px solid #ded5d5;
    height: 30px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.TaskRow div {
    cursor: pointer;
}

.TaskRow input {
    width: 100%;
}